<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>Controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProject</servlet-name>
        <servlet-class>Controller.ViewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUser</servlet-name>
        <servlet-class>Controller.ViewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterProjectRole</servlet-name>
        <servlet-class>Controller.RegisterProjectRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserType</servlet-name>
        <servlet-class>Controller.RegisterUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateProjectRole</servlet-name>
        <servlet-class>Controller.DeactivateProjectRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateUserType</servlet-name>
        <servlet-class>Controller.DeactivateUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterProject</servlet-name>
        <servlet-class>Controller.RegisterProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterProjectExpense</servlet-name>
        <servlet-class>Controller.RegisterProjectExpense</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterExpenseCategory</servlet-name>
        <servlet-class>Controller.RegisterExpenseCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterExpenseMethod</servlet-name>
        <servlet-class>Controller.RegisterExpenseMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExpenseCategory</servlet-name>
        <servlet-class>Controller.UpdateExpenseCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExpenseMethod</servlet-name>
        <servlet-class>Controller.UpdateExpenseMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateExpenseCategory</servlet-name>
        <servlet-class>Controller.DeactivateExpenseCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateExpenseMethod</servlet-name>
        <servlet-class>Controller.DeactivateExpenseMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterBudgetType</servlet-name>
        <servlet-class>Controller.RegisterBudgetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterBudgetMethod</servlet-name>
        <servlet-class>Controller.RegisterBudgetMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBudgetType</servlet-name>
        <servlet-class>Controller.UpdateBudgetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBudgetMethod</servlet-name>
        <servlet-class>Controller.UpdateBudgetMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateBudgetType</servlet-name>
        <servlet-class>Controller.DeactivateBudgetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateBudgetMethod</servlet-name>
        <servlet-class>Controller.DeactivateBudgetMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateUser</servlet-name>
        <servlet-class>Controller.DeactivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterProjectBudget</servlet-name>
        <servlet-class>Controller.RegisterProjectBudget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectBudget</servlet-name>
        <servlet-class>Controller.UpdateProjectBudget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectExpense</servlet-name>
        <servlet-class>Controller.UpdateProjectExpense</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProject</servlet-name>
        <url-pattern>/ViewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUser</servlet-name>
        <url-pattern>/ViewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProjectRole</servlet-name>
        <url-pattern>/AddProjectRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserType</servlet-name>
        <url-pattern>/AddUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateProjectRole</servlet-name>
        <url-pattern>/DeactivateProjectRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateUserType</servlet-name>
        <url-pattern>/DeactivateUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProject</servlet-name>
        <url-pattern>/RegisterProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProjectExpense</servlet-name>
        <url-pattern>/RegisterProjectExpense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterExpenseCategory</servlet-name>
        <url-pattern>/RegisterExpenseCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterExpenseMethod</servlet-name>
        <url-pattern>/RegisterExpenseMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExpenseCategory</servlet-name>
        <url-pattern>/UpdateExpenseCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExpenseMethod</servlet-name>
        <url-pattern>/UpdateExpenseMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateExpenseCategory</servlet-name>
        <url-pattern>/DeactivateExpenseCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateExpenseMethod</servlet-name>
        <url-pattern>/DeactivateExpenseMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterBudgetType</servlet-name>
        <url-pattern>/RegisterBudgetType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterBudgetMethod</servlet-name>
        <url-pattern>/RegisterBudgetMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBudgetType</servlet-name>
        <url-pattern>/UpdateBudgetType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBudgetMethod</servlet-name>
        <url-pattern>/UpdateBudgetMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateBudgetType</servlet-name>
        <url-pattern>/DeactivateBudgetType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateBudgetMethod</servlet-name>
        <url-pattern>/DeactivateBudgetMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateUser</servlet-name>
        <url-pattern>/DeactivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProjectBudget</servlet-name>
        <url-pattern>/RegisterProjectBudget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectBudget</servlet-name>
        <url-pattern>/UpdateProjectBudget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectExpense</servlet-name>
        <url-pattern>/UpdateProjectExpense</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
