<html>
<head>
</head>
<body>
<!-- notification modal-->
<div class="modal fade" id="informationModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div id="modalHead" class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div id="informationBodyModal" class="modal-body">
         <!-- content, to be filled by javascript-->
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /notifaction modal-->


  <!-- error modal-->
<div class="modal fade" id="warningModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div id="modalHead" class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div id="warningBodyModal" class="modal-body">
         <!-- content, to be filled by javascript-->
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /error modal-->


   <!-- success modal-->
<div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div id="modalHead" class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div id="successBodyModal" class="modal-body">
         <!-- content, to be filled by javascript-->
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /success modal-->

  <script>
//   $('#successModal').on('hidden.bs.modal', function () {
//     window.location.reload(true);
// })
  </script>
</body>
</html>